.hero {
  background-color: #f2f2f2;
}

.hero__content {
  padding: 170px 0;
  max-width: 447px;
}

.hero__heading {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2D314D;
}

.hero__text {
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}